<!-- content heading -->
<% if (title) { %>
    <h1 id="centered"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<%- messages() %>

  <form action="/account/registerUser" method="post"> 
    <p>All inputs are required.</p>
    <div id="center-form-content">
        <label class="required" for="fname">First Name:</label><br>
        <input type="text" id="fname" name="account_firstname" placeholder="First Name" required value="<%= locals.account_firstname %>"><br><br>

        <label class="required" for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="account_lastname" placeholder="Last Name" required value="<%= locals.account_lastname %>"><br><br>

        <label class="required" for="email">Email:</label><br>
        <input type="email" id="email" name="account_email" placeholder="Email Address" required value="<%= locals.account_email %>"><br><br>

        <label class="required" for="password">Password:</label><br>
        <input type="password" id="password" name="account_password" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br><br>
        <p id="password-description">
            The password must be:<br>
            12 characters in length, minimum<br>
            contain at least 1 capital letter<br>
            contain at least 1 number<br>
            contain at least 1 special character
        </p>

        <input type="submit" value="Register" id="register">
    </div>
  </form>

