<!-- content heading -->
<% if (title) { %>
    <h1 id="centered"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% }%>


<h3>Message Center</h3>
<ul>
    <li>
        <a class="links" href="/message/new-message">Create a New Message</a>
    </li>
    <li>
        <a class="links" href="/message/archive">View <%- archivedTotal %> Archived Message</a>
    </li>
</ul>

<table class="messageDisplay">
    <%- messageTable %>
</table>
