<!-- content heading -->
<% if (title) { %>
    <h1 id="centered"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% }%>

<a href="/message/"> < Back to Inbox</a>

<p>This is an internal messaging system only. Recipiants are limited to three generic account.</p>
<p>All inputs are required.</p>
 
<form id="loginForm" action="/message/send" method="post">
    <label class="required" for="account_id">To:</label><br>
    <%- dropdown %><br>
 
    <label class="required" for="message_subject">Subject:</label><br>
    <input type="text" id="message_subject" name="message_subject" value="<%= locals.message_subject || ' ' %>" required><br>

    <label class="required" for="message_body">Message:</label><br>
    <textarea id="message_body" name="message_body" required><%= locals.message_body || ' ' %></textarea><br>

    <input type="submit" class="submit" name="submit" value="Send">

    <input  type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>
    >
</form>