<!-- content heading -->
<% if (title) { %>
    <h1 id="centered"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% }%> 

<div id="view-message">
    <div>
        <h3>Subject:</h3>
        <p class="inline"><%- subject %></p>
    </div>
    
    <div>
        <h3>From:</h3>
        <p class="inline"><%- from %></p>
    </div>

    <div>
        <h3>Message:</h3>
        <p><%- message %></p>
    </div>
</div>
<a class="block-tags" href="/message/"> < Return to Inbox</a>
<a class="block-tags" href="/message/reply/<%- message_id %>"> Reply </a>
<a class="block-tags" href="/message/"> Mark as Read </a>
<a class="block-tags" href="/message/"> Archive Message </a>
<a class="block-tags" href="/message/"> Delete Message </a>